/* Styles */
/* By Dan Edmonds (http://danedmonds.net) */

/* Reset
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* remember to define focus styles! */

:focus { outline: 0; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */

table { border-collapse: separate; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }

/* Structure
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body { font: 62.5% "Arial", Verdana, sans-serif; color: #b8c5cc; text-align: left; background: #041721 url(images/bg.jpg) repeat-x top; }

@font-face {
    font-family: 'ITCAvantGardeGothicStdDemi';
    src: url('fonts/itcavantgardestd-demi-webfont.eot');
    src: url('fonts/itcavantgardestd-demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/itcavantgardestd-demi-webfont.woff') format('woff'),
         url('fonts/itcavantgardestd-demi-webfont.ttf') format('truetype'),
         url('fonts/itcavantgardestd-demi-webfont.svg#ITCAvantGardeGothicStdDemi') format('svg');
    font-weight: normal;
    font-style: normal;
}

#wrapper { 
	overflow: hidden; 
}
	
#wrapper-inner { 
	margin: 0 auto; 
	text-align: left;
	clear: both;
	width: 95%;
	max-width: 940px; 
}

#header { 
	float: left; 
	width: 95%;
	max-width: 900px;
	margin: 0 20px 60px; 
}

#header #inner {
	width: 95%;
	max-width: 900px;
	margin: 0 auto;
	text-align: left;
	
}

/* Logo
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#logo { 
	position: relative; 
	float: left; 
	display: inline; 
	width: 430px; 
	height: 88px; 
	font-size: 1.5em; 
	overflow: hidden; 
	margin: 52px 0 0 -2px; 
}

#logo span { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	background: url(images/logo.jpg) no-repeat 0 0; 
}

#logo a { text-decoration: none; }
	
/* About Button
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#about-button { 
	position: relative; 
	float: right; 
	display: inline; 
	width: 140px; 
	height: 52px; 
	font-size: 1.5em; 
	overflow: hidden; 
	margin-left: -2px; 
}

#about-button span { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	background: url(images/about-button.jpg) no-repeat 0 0; 
}

#about-button a { text-decoration: none; }

/* Content
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.content a:link, 
.content a:visited, 
.content a:active { 
	color: #f10432; 
	text-decoration: none; 
}

.content a:hover { color: #fff; }

.content h2 { 
	margin-bottom: 0; 
	font-size: 3.6em; 
	color: #fff; 
	/*
	text-indent: -5005px; 
	width: 900px; 
	height: 36px; 
	margin-left: -1px;
	*/ 
	font-family: 'ITCAvantGardeGothicStdDemi', "Arial", Verdana, sans-serif; 
}

.content h2#heading-work { 
	margin-left: 20px; 
}

/*
h1#heading-work { 
	background: url(images/heading-work.png) no-repeat 0 0; 
}

h1#heading-about { 
	background: url(images/heading-about.png) no-repeat 0 0; 
}
*/

.content h4 { 
	margin-bottom: .6em; 
	font-size: 2em; 
	color: #fff; 
}

.content h4 a:link, 
.content h4 a:visited, 
.content h4 a:active { 
	color: #f10432; 
	text-decoration: none; 
}

.content h4 a:hover { 
	color: #fff; 
}

.content p { 
	margin-bottom: 1.8em; 
	font-size: 1.3em; 
	line-height: 1.6em; 
}

.content ul { 
	margin: 0 0 30px 30px; 
}

.content ul li { 
	list-style-type: square; 
	margin-bottom: 5px; 
	font-size: 1.3em; 
	line-height: 1.6em; 
}

.content img { 
	display: block;
	max-width: 100%;
	height: auto;
}

.content strong { 
	font-weight: bold; 
}

.content mark { 
	background: rgba(5,153,188,.3); 
	padding: 2px 4px; color: #fff; 
}

.content mark:hover { 
	background: rgba(5,153,188,.5); 
}

 /* Work
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#work { 
	float: left;
	width: 960px;
}
	
#work h1 { 
	margin-left: 20px; 
}
	
#work p { 
	font-size: 1.2em; 
}
		
#work .project { 
	width: 100%;
	max-width: 430px; 
	float: left; 
	position: relative; 
	margin: 30px 20px 0;
	height: 370px;
}

/*
#work .project .project-image span { 
	position: absolute; width: 430px; height: 260px; z-index: 10; 
}
*/

#work .project .project-image { 
	position: relative; 
}
				
#work .project .project-image a { 
	padding: 4px; 
	background: #03131c; 
	border: 1px solid #06202e; 
	display: block; 
	margin-bottom: 10px; 
}

#work .project .project-image a img {
	
}

/*
#work .project .project-image a:hover:after { 
	background: #000 url(images/launch-site-button.jpg) no-repeat center; 
	cursor: pointer; 
	position: absolute; 
	width: 100%; 
	height: 30px; 
}

.launch-site-wrap { 
	width: 900px; 
	margin: 0 20px 30px; 
	float: left; 
}

.launch-site { width: 430px; }

.launch-site-button { 
	position: relative; 
	float: left; 
	display: inline; 
	width: 145px; 
	height: 38px; 
	overflow: hidden; 
}

.launch-site-button span { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	background: url(images/launch-site-button.jpg) no-repeat 0 0; 
}

.launch-site-button span:hover { 
	background: url(images/launch-site-button.jpg) no-repeat 0 -38px; 
}

.launch-site-button a { 
	text-decoration: none; 
}
*/

/* About
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#about { 
	float: left;
	max-width: 900px; 
	clear:left; 
	margin: 10px 20px 30px; 
	position: relative; 
}

#about #inner { 
	position: relative; 
	/*border: 1px solid #051c29;*/ 
	border: 1px solid #06202e; 
	border-right: 0; 
	background: #03131c; 
	margin: 0 10px 0 -41px; 
	clear:both; 
	padding-left: 40px;
	width: 900px;
}

#about #inner div { 
	padding-top: 30px;
}

span#stretch { 
	height: 100%; 
	width: 9999px; 
	position: absolute; 
	top: 0; 
	left: 100%; 
	border: 1px solid #06202e; 
	border-left:0; 
	border-right:0; 
	margin:-1px 0 30px 0; 
	background: #03131c; 
}
		
#about h3 { 
	margin-bottom: 1em; 
	font-size: 2em; 
	color:#fff; 
}

#bio { 
	max-width: 480px;
}

#contact { 
	max-width: 320px;
}

/*
#about #bio { 
	float: left; 
	max-width: 480px; 
}

#about #bio p { 
	font-size: 1.5em; 
}

#about #contact { 
	float: right; 
	max-width: 320px; 
}
*/

#up-button { 
	position: relative; 
	float: right; 
	display: inline; 
	width: 42px; 
	height: 42px; 
	font-size: 1.5em; 
	overflow: hidden; 
	margin-left: -2px; 
}

#up-button span { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	background: url(images/up-button.jpg) no-repeat 0 0; 
}

#up-button a { 
	text-decoration: none; 
}

/* Footer
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#footer { 
	clear: both; 
	padding: 10px; 
	float: left; 
	width: 100%; 
}

#footer p { font-size: 1.1em; }

/* Misc
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.clear { 
	clear: both; 
	line-height: 1; 
	margin: 0; 
	padding: 0; 
}

.left { 
	float: left; 
	display: inline; 
}

.right { 
	float: right; 
	display: inline; 
}

/*
#share { 
	width: auto; 
	position: fixed; 
	top: 50px; 
	left: 50px; margin: 0; 
}

#share li { 
	list-style-type: none; 
	margin: 0 auto 20px; 
	width: auto; 
}
*/

/* all mobile devices
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media all and (max-width: 1024px) {

	html {
		-webkit-text-size-adjust: none;
	}

}

/* large tablets
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media all and (max-width: 768px) {
	
	#header {
		margin-bottom: 20px;
	}
	
	#work { 
		width: auto;
	}
	
	.content h2#heading-work { 
		margin-left: 0; 
	}
	
	#about { 
		width: 100%;
		margin: 0;
	}
	
	#about #inner { 
		width: 95%;
		padding: 0 10px;  
		margin: 0;
	}
	
	#about #inner div { 
		padding-top: 10px;
	}
	
	#logo {
		width: 120px;
		margin: 22px 0 0 -2px;
	}
	
	#logo span {
		background: url(images/logo-120.jpg) no-repeat 0 0;
	}

	#bio,
	#contact {
		float: left;
		width: 100%;
	}
	
	#contact {
		
	}

	.content .alignleft,
	.content .alignright {
		float: none;
		display: block;
		margin: 0 0 15px 0;
	}
	
	.content img[align $='left'] {
		float: none;
		display: block;
		margin: 0 0 15px 0;
	}
	
	.content img[align $='right'] {
		float: none;
		display: block;
		margin: 0 0 15px 0;
	}
	
	#work { 
		float: none;  
		margin: 0 auto; 
	}
	
	#work .project {
		margin: 0;
		height: auto;
	}

}

/* small tablets
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media all and (max-width: 600px) {

	#header {
		margin-bottom: 20px;
	}
	
	#work { 
		width: auto;
	}
	
	.content h2#heading-work { 
		margin-left: 0; 
	}
	
	#about { 
		width: 100%;
		margin: 0;
	}
	
	#about #inner { 
		width: 95%;
		padding: 0 10px;  
		margin: 0;
	}
	
	#about #inner div { 
		padding-top: 10px;
	}
	
	#logo {
		width: 120px;
		margin: 22px 0 0 -2px;
	}
	
	#logo span {
		background: url(images/logo-120.jpg) no-repeat 0 0;
	}

	#bio,
	#contact {
		float: left;
		width: 100%;
	}

	.content .alignleft,
	.content .alignright {
		float: none;
		display: block;
		margin: 0 0 15px 0;
	}
	
	.content img[align $='left'] {
		float: none;
		display: block;
		margin: 0 0 15px 0;
	}
	
	.content img[align $='right'] {
		float: none;
		display: block;
		margin: 0 0 15px 0;
	}
	
	#work .project {  
		float: none;  
		margin: 0 auto; 
	}

}

/* landscape mobile photos
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media all and (max-width: 480px) {

}

/* portrait mobile photos
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media all and (max-width: 320px) {

}